<div class="toolbar">
	<h2 [style.textAlign]="'center'">Nakiki Map</h2>

	<button mat-button (click)="setDrawMode('draw_polygon')">
		<mat-icon fontIcon="draw"></mat-icon>
		Многоугольник
	</button>

	<button mat-button (click)="deleteDraw()">
		<mat-icon fontIcon="delete"></mat-icon>
		Удалить
	</button>

	<button mat-button (click)="deleteDrawAll()">
		<mat-icon fontIcon="delete_forever"></mat-icon>
		Удалить все
	</button>
</div>

<!-- <input
	type="range"
	min="0"
	max="50"
	(input)="setExtrudeHeight()"
	[(ngModel)]="poligonHeight"
/> -->
